 .search {
            width:300px;
            height: 30px;
            margin: 100px auto;
            position: relative;
        }
        .search input {
            width:200px;
            height:25px;

        }
        .search label {
            font-size: 12px;
            color:#ccc;
            position: absolute;
            top:8px;
            left:10px;
            cursor: text;
        }